.EmailDownload__wrapper {
    margin-bottom: 1.5rem;
}

.EmailDownload__group {
    margin-bottom: 20px;
    padding: 4px 0;
    position: relative;
}

.EmailDownload__input {
    z-index: 1;
}

.EmailDownload__label {
    font-size: 80%;
    opacity: 0;
    position: absolute;
    transition: 2s bottom, 250ms opacity;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.EmailDownload__input:focus + .EmailDownload__label,
.EmailDownload__input:not([value=""]):not(:focus) + .EmailDownload__label {
    bottom: 95%;
    opacity: 1;
    transition: 200ms bottom, 1500ms opacity;
}
