.EmailDownload__wrapper {
    margin-bottom: 1.5rem;
}

/* Warnings/Alerts */
.EmailDownload__notice > p {
    padding: 6px 9px;
    background: #fffbbc;
    border: 1px solid #E6DB55;
    border-left-width: thick;
}

.EmailDownload__group {
    margin-bottom: 20px;
    padding: 4px 0;
    position: relative;
}

.EmailDownload__input {
    width: calc(100% - 2rem);
    padding: 1rem;
    font-size: inherit;
    margin: .5rem 0 1rem;
    border: 1px solid;
    z-index: 1;
}

.EmailDownload__label {
    font-size: 80%;
    opacity: 0;
    position: absolute;
    transition: 2s bottom, 250ms opacity;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.EmailDownload__button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    height: 38px;
    margin: 0;
    padding: 0 15px 0;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

/**
 * @link https://stackoverflow.com/a/35408000/558561
 */
.EmailDownload__input:focus + .EmailDownload__label,
.EmailDownload__input:not([value=""]):not(:focus) + .EmailDownload__label {
    bottom: 95%;
    opacity: 1;
    transition: 200ms bottom, 1500ms opacity;
}
