.EmailDownload__wrapper {
    margin-bottom: 1.5rem;
}
.EmailDownload__group {
    margin-bottom: 20px;
    padding: 4px 0;
    position: relative;
}

.EmailDownload__input {
    z-index: 1;
}

.EmailDownload__label {
    position: absolute;
    opacity: 0;
    transition: 550ms bottom, 200ms opacity;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.EmailDownload__input:focus + .EmailDownload__label {
    bottom: 95%;
    font-size: 80%;
    opacity: 1;
    transition: 215ms bottom, 335ms opacity;
}
